.chat-input {
  padding: 8px 16px;
  border-width: 1px;
  border-radius: 12px;
  font-size: 16px;

  flex-grow: 1;
}

.chat-input-container {
  display: flex;
}

.send-button {
  background-color: rgb(52, 126, 255);
  color: white;
  padding: 8px 16px;
  margin-left: 12px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}
