.app-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  height: 100vh;

  display: flex;
  flex-direction: column;
}

.welcome-text {
  text-align: center;
}

.loading-spinner {
  height: 40px;
  margin: -15px;
}
